*{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: 'Varela', sans-serif;
    margin: 0;
}

.header{
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:black;
  
}
.header a{
  text-decoration-line: none;
  color: white;
  transition: transform 1s ease;
  
}
.varios {
  margin-top: 20px;
  background-color: #caebb7;
  border:2px solid #5b973b;
  transition: all 2s ease;
  width: 20px;
  height: 20px;
 
}
.varios:hover {
  transform:rotate(180deg);
  border-radius:35px;
  height:50px;
  width:50px;
  border: 4px dotted #333;
  background-color: #ebb7b7;
}
#about:hover{
  background-color: white;
  color: black;
}
#herramientas:hover{
  background-color: white;
  color: black;
}
#proyectos:hover{
  background-color: white;
  color: black;
}
#contacto:hover{
  background-color: white;
  color: black;
}
#english:hover{
  background-color: white;
  color: black;
}
.parte1{
  background-color: black;
  color: white;
  padding: 0 100px 100px 100px;
}
.fotito{
  padding-top: 80px;

}
.fotito img{
  border-radius: 50%;
  transition: all 1s ease;

}
.fotito img:hover{
  transform:rotate(180deg);

}
.nombre{
  color: white;
}
#gris{
  color: grey;
}

.contenedor-grande{
  width: 60%;
}


.fa-html5{
  color: #F16524;
}

.fa-css3-alt{
  color: #046DBE;
}

.fa-js-square{
    color: #efd81d;
}

.fa-bootstrap{
  color: #563D7C;
}

.fa-github{
  color: white;

}
.fa-react{
  color: #61DAFB;
  transform:rotate(90deg);

}
.fa-node-js{
  color: #91C441;
}

.contenedor1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.contenedor1 i{
    margin-top: 50px;
    font-size: 150px;
    padding: 30px;
    transition: transform 0.5s ease;  

}
.contenedor1 i:hover{
  transform: scale3d(1.5,1.5,1);

}
.contenedor1 a{
  text-decoration-line:none;
  color: white;
  font-weight: bolder;
}
.contenedor2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 10%;
  padding-left: 10%;
}
.contenedor2 i{
  margin-top: 50px;
  font-size: 150px;
  padding: 30px;
  transition: transform 0.5s ease;

}
.contenedor2 i:hover{
  transform: scale3d(1.5,1.5,1);

}

.contenedor2 a{
text-decoration-line:none;
color: white;
font-weight: bolder;
}
.titulo3{
  margin-top: 200px;
  font-size: xx-large;
}
.proyectos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: black;
  margin: 80px 200px 200px 200px;

}
.proyectos a{
  text-decoration-line: none;
  color: black;
  font-weight: xx-large;
}
.proyectos img{
  width: 80%;
  border-radius: 30px;
  transition: transform 2s ease-in-out;
  padding: 10px;

}
.proyectos img:hover{
  transform:rotate(180deg);
  border-radius:20px;
  border: 4px dotted #333;
  opacity: 90%;
}
.proyectos a:hover{
  transform: scale3d(1.1,1.1,1);
  text-decoration-line: underline;
}
.contactos{
  font-size: xx-large;
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly; 
  width: 40%;
  padding: 20px 90px 90px 90px;
}
.contactos a{
    text-decoration-line: none;
    font-size: xx-large;

}
.fa-envelope-square{
  color: #FB2737;
}
.fa-linkedin{
  color: rgb(0,115,177);
}
.fa-whatsapp-square{
  color: #2AB540;
}

.contactos i{
  transition: transform 0.25s ease;
  font-size: 100px;
  padding: 30px;

}
.contactos i:hover{
  transform: scale3d(1.5,1.5,1);

}

.contactos a{
  text-decoration-line:none;
  color: black;
}
.texto2{
  font-size: large;
  font-weight: bolder;
  color: white;
}
.titulo4{
  padding-top: 60px;
}
.proyectos h3{
  color: white;
}
/*----------------------------------Tablet------------------------*/
@media(max-width:768px){
  .proyectos{
    margin: 0px;    
    
  }
  .parte1{
    padding:0px;
  }
  .contenedor-grande{
    width: 100%;
  }
  .contenedor2{
    padding-bottom: 20px;
  }
}

@media(max-width:420px){
  .header{
    flex-direction: column;
    position: relative;
  }
  .titulo3{
    margin-top: 0px;
  }
  .contenedor1{
    grid-template-columns: 1fr ;
  }
  .contenedor2{
    grid-template-columns: 1fr;
  }
  .contactos{
    padding:10px 0px 10px 0px;
    width: 100%;
  }
  .proyectos{
    grid-template-columns: 1fr;
    padding:0px 5px 0px 5px;
  }
  .contactos i{
    font-size: 60px;
    padding:0px;
  }
  .texto2{
    font-size: small;
  }
}